@model TalentTrail.Models.Resume

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resume</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSeeker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSeeker.Education)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResumeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
